langchain
ipykernel
python-dotenv #load env variables
langchain_community
pypdf

bs4 # scrapping web pages
arxiv # archive(research articles) loader
pymupdf # required for archive loader

# splitting documents
langchain-text-splitters

# openai library
langchain-openai
chromadb # vector database

# huggingface embeddings
sentence-transformers # for embeddings
langchain-huggingface # for huggingface embeddings